<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>test web component</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/htmx.org/dist/ext/sse.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/hyperscript.org@0.9.8"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  </head>
  <body>
    <todo-item id="0FF8C91F-E05C-40B8-9D05-D1B5051D7D1F"
      >Learn to use web components</todo-item
    >
    <todo-item id="D61ED707-AF6C-4ACC-94D2-F6DF9F85BC78"
      >Integrate web components into GO templates</todo-item
    >
    <todo-item id="3F9B6A03-BC79-4FD0-B4FF-1D8C56BBC63F">Profit!</todo-item>
  </body>
</html>
