<!doctype html>
<html id="html-main" data-theme="{{.Theme}}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>GOponents</title>
    {{template "scripts"}}
    <link href="static/goponents.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {{template "navbar" .}}
    <div id="main-body" class="flex" style="overflow-x: auto; top: 80px">
      <div id="nav-left" style="min-width: 134px">
        {{template "nav-left" .}}
      </div>
      <div class="flex-grow" style="padding: 8px">
        <div
          id="main"
          hx-get="/{{.Module}}/"
          hx-trigger="load"
          class="flex flex-grow"
        ></div>
      </div>
    </div>
  </body>
</html>
