{{define "scripts"}}
<script src="https://unpkg.com/htmx.org@1.9.2" crossorigin="anonymous"></script>
<script
  src="https://unpkg.com/htmx.org/dist/ext/sse.js"
  crossorigin="anonymous"
></script>
<script
  src="https://unpkg.com/hyperscript.org@0.9.8"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
{{ end }}
