<!DOCTYPE html>
<html id="html-main" data-theme="{{.Theme}}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>GOponents</title>
    <script src="https://unpkg.com/htmx.org@1.9.2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <!-- <link href="static/daisyui.css" rel="stylesheet" type="text/css" /> -->
    <link
      href="static/goponents.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    {{template "navbar" .}}
    <div id="main-body" class="flex">
      <div id="nav-left" style="min-width: 134px;">
        {{template "nav-left" .}}
      </div>
      <div class="flex-grow" style="padding:8px;">
        <div id="main" hx-get="/{{.Module}}/" hx-trigger="load" class="flex flex-grow">
          
        </div>
      </div>
    </div>
  </body>
</html>