{{block "sseStop" .}}
<button class="btn btn-ghost mb-6" hx-get="/min/start" hx-target="#min-event-poster" hx-swap="innerHTML">start</button>
<div
  id="min-event-posts"
  hx-target="#min-vsp-event-updates"
>
</div>
{{end}}