<div id="status-acquire-disco-qa-9602788d-a555555-43-f2345675e-94-test11">
  <div
    hx-get="/acquire/brief/disco-qa-9602788d-a555555-43-f2345675e-94-test11"
    hx-target="#brief-details"
    hx-swap="innerHTML"
    hx-trigger="click"
  >
    {{template "status-icons"}}
  </div>
    <div id="brief-details"></div>
</div>
