<div
  hx-get="/acquire/brief/a5c3e3ca-0c3f-4368-81b3-d7fab4413a14"
  hx-target="#brief-details"
  hx-swap="innerHTML"
  hx-trigger="
  click"
>
  {{template "status-icons"}}
  <div id="brief-details"></div>
</div>