@import "../pkg/minsse/tmpls/component.css";
@import "../pkg/sco/tmpls/component.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: #444;
  font-size: 24px;
  font-weight: 600;
}

mainmodule {
  width: 100%;
}

.deleteSVG {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
  stroke: #888 !important;
}

.deleteSVG:hover {
  stroke-width: 2px;
  stroke: #f00 !important;
}

.status-pending {
  background-color: #f7f2f2;
}

.status-processing {
  background-color: #b6d8f2;
  border-color: #0586e9 !important;
}

.status-error {
  background-color: #f1bfbf;
  border-color: #eb0606 !important;
}

.status-failure {
  background-color: #f7dd80;
  border-color: #f4c004 !important;
}

.status-completed {
  background-color: #eaf4ea;
  border-color: #08ed08 !important;
}

.smooth {
  transition: all 0.4s ease-in;
}

.fader {
  opacity: 0 !important;
  display: block;
}
