@import "./status.css";
@import "../pkg/minsse/tmpls/component.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: #444;
  font-size: 24px;
  font-weight: 600;
}

mainmodule {
  width: 100%;
}

.deleteSVG {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
  stroke: #888 !important;
}

.deleteSVG:hover {
  stroke-width: 2px;
  stroke: #f00 !important;
}

.smooth {
  transition: all 0.4s ease-in;
}

.fader {
  opacity: 0 !important;
  display: block;
}
